* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
  height: 100%;
  width: 100%;
}
.principal {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.fundo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}
.imagem {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px; 
  height: 200px;
  border-radius: 100px; 
}
.botoes-navegacao {
  position: absolute;
  margin-top: 30px !important;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.btn:hover{
  background-color: #A64D79;
  border-color: black;
}
.nav-link{
  color: black;
}
.nav-link:hover{
  color: #A64D79;
}
.Icones{
  width: 45px;
}
.img-fluid{
  height: 350px;
  width: 100vw;
}
.text-center{
  margin-top: 35px;
  margin-bottom: 35px;
}
.titulo{
  text-align: center;
  margin-top: 150px;
  margin-bottom: 100px;
}
.subtitulo{
  margin-top: 50px;
  text-align:center;
}
h2{
  margin-bottom: 100px;
  text-align: center;
}
.link-offset-2{
  color: black;
}
.link-offset-2:hover{
  color: #A64D79;
}
.dropdown-menu{
  background-color: black;
}
.dropdown-item{
  background-color: black !important;
}
.dropdown-item:hover{
  background-color: #A64D79 !important;
}
.btn{
  background-color: black !important;
}
.btn:hover{
  background-color: #A64D79 !important;
}
.card-fluid{
  position: relative;
  margin-top: 50px;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}
.card-img-top{
width: 700px;
height: 400px;
}
h1{
  text-align: center;
  margin-top: 150px;
  margin-bottom: 150px;
}

