* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
  height: 100%;
  width: 100%;
}
.principal {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.fundo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}
.imagem {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px; 
  height: 200px;
  border-radius: 100px; 
}
.botoes-navegacao {
  position: absolute;
  margin-top: 30px !important;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.btn:hover{
  background-color: #A64D79;
  border-color: black;
}
.nav-link{
  color: black;
}
.nav-link:hover{
  color: #A64D79;
}
.Icones{
  width: 45px;
}
.container-sobre{
  display: flex;
  align-content: center;
  margin: 50px;
}
.img{
  display: inline;
  margin-right: 25px;
  width: 550px;
  height: 600px;
  border-radius: 30px;
  border: #A64D79;
  border-style: outset;
  border-width: 3px;
}
.texto-s{
  display: inline;
  margin-top: 155px;
  text-align: center;
}
.subtitulo{
  margin-bottom: 30px;
}
.container{
  margin: 125px;
}
.sobreMim{
 margin: 10px;
}
.titulo{
  text-align:center;
  margin-top: 155px;
  margin-bottom: 200px;
}
.navbar{
  position: fixed;
}
h2{
  margin-bottom: 100px;
  text-align: center;
}